// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Import Bootstrap (assuming node_modules/bootstrap/scss/bootstrap is correct)
@import 'node_modules/bootstrap/scss/bootstrap';

// BTN Import Style
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');


// Variables
$brand-primary:   #222831;
$brand-secondary: #393e46;
$brand-third:     #7971ea;

$font-darkpurple:  #3a316e;
$font-lightpurple: #485791;
$font-blue:        #55829c;
$font-green:       #96c99c;

$font-family-apple: 'apple-system', 'system-ui', 'BlinkMacSystemFont', 'Segoe UI', sans-serif;
$font-family-roboto: 'Roboto Slab', serif;
$font-family-base: $font-family-apple;

$font-base:   1rem;
$font-large:  1.25rem;
$font-xlg:    2rem;
$font-weight-normal: normal;
$base-line-height: 1.25;

$border-width: 1px;
$border-radius: 10px;

$btn-main-color: $brand-third;
$btn-primary-bg: $brand-third;
$btn-dark-bg: $brand-primary;
$btn-third-bg: $brand-secondary;
$btn-border-primary: $brand-primary;
$btn-border-dark: $brand-primary;
$btn-border-third: $brand-third;
$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-line-height: $base-line-height;
$btn-transition: all 0.2s ease-in-out;

// Reset styles
* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $font-lightpurple;
  background-color: $brand-primary;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

// Navigation Bar
.navbar {
  margin: 20px 0 0;
  color: #fff;
}

// Sections
.section {
  display: block;
  padding: 100px 0;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

// Animations
@keyframes active {
  from {
    opacity: 0;
    transform: scale(0.3);
    box-shadow: 0 0 0 2px rgb(236, 232, 232), 0 0 10px 10px #7971ea, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #7971ea, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  to {
    opacity: 1;
    background: $brand-third;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 1px #7971ea, 0 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

// Wiggle animation
.wiggle {
  font-size: 5rem;
  font-weight:500;
  text-shadow: 2px 2px 5px rgba(79, 85, 79, 0.7);
  color: #ffffff;
  display: inline-block;
  margin-right: 5px;
  transition: color 0.3s ease;
}

.wiggle:hover {
  color: $brand-third;
  animation: stretch-wiggle 0.6s;
}

@keyframes stretch-wiggle {
  0% {
    transform: scale(1) rotate(0deg);
  }
  20% {
    transform: scale(1.1) rotate(-3deg);
  }
  40% {
    transform: scale(0.9) rotate(3deg);
  }
  60% {
    transform: scale(1.05) rotate(-2deg);
  }
  80% {
    transform: scale(0.95) rotate(2deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

// Navigation Dots
#nav-dots {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#nav-dots ul {
  display: flex;
  flex-direction: column;
  border-radius: 15px 0 0 15px;
  margin: auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  list-style: none;
}

.nav__dot {
  cursor: pointer;
  background: #393e46;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 10px auto;
}

.nav__dot--active {
  animation: active 1s ease-in-out 75ms both;
}


//Header
#type-text{
  font-size: 50px;
  color: $brand-third;
}

//Backgrounds 
#mainBG {
  background: rgb(2,0,36);
  background: linear-gradient(355deg, rgba(2,0,36,1) 0%, rgba(34,40,49,1) 59%, rgba(58,49,110,1) 100%);
}



// About, Skills, Projects, Contact sections
#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#headerIdentify {
  color: $font-green;
}

#fullStopHeader{
  color: palevioletred;
}
@media (max-width: 768px) {
  #titleHeader h1 {
      text-align: center;
      font-size: 50px;
  }
}

#headerIMG{
  max-width: 350px; /* Adjust as needed */
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}


#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: auto; /* Allow the height to be dynamic */
  padding: 20px; /* Add padding for better spacing */
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
}

#aboutMePara {
  display: grid;
  place-items: center;
  align-content: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


#aboutBG {
  background: rgb(2,0,36);
  background: linear-gradient(172deg, rgba(2,0,36,1) 0%, rgba(34,40,49,1) 59%, rgba(58,49,110,1) 100%);
}

/* For the images to float right with clear background */
#gsdPic1, #gsdPic2 {
  float: none;
  margin-left: 0px; /* Space between the text and the image */
  margin-bottom: 20px; /* Space between the images */
  max-width: 350px; /* Adjust as needed */
  display: inline-block;
  background-color: transparent; /* Clear background */
  border: none; /* Remove border */
  border-radius: 40%;;
  padding: 0;
}

#gsdPic2 {
  height: 300px;
  width: 300px;
}

/* Clearfix to contain floated elements */
#about::after {
  content: "";
  display: table;
  clear: both;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  #gsdPic1, #gsdPic2 {
    float:none;
    display: inline-flex;
    margin: 20px auto; /* Center images on small screens */
    max-width: 100%; /* Make images responsive */
    height: 150px;
    width: 150px;
  }

  /* Ensure the text content does not overlap with images */
  #titleHeader h1 {
  font-size: 50px;
  }

  #titleHeader p {
    margin-bottom: 20px;
  }
}

#skills { 
  height: 700px; /* Increase section height */
}

.skills-container {
  width: 50%;
}

#skillsBG {
  background: rgb(2,0,36);
  background: linear-gradient(9deg, rgba(2,0,36,1) 0%, rgba(34,40,49,1) 59%, rgba(58,49,110,1) 100%);
}

#andHeader {
  color: rgb(57, 108, 57);
}

.scroll-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  flex: 1; /* Allow it to take up available space */
}

.carousel-primary {
  top: 12%;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap; /* Enable wrapping */
  justify-content: center; /* Center the content horizontally */
}

.carousel-primary img {
  margin: 2px 10px; /* Add horizontal margin between buttons */
  width: 100px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  border-radius: 14px;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

#skillBlock {
  background: linear-gradient(193deg, rgba(65,72,82,1) 0%, rgba(58,49,110,1) 30%, rgba(34,40,49,1) 100%);
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px rgba(58,49,110,1);
  flex: 1; /* Allow it to take up available space */
  margin-top: 50px; /* Adjust as needed */
  padding: 20px; /* Add padding */
}

/* Media Queries */
@media (max-width: 768px) {
  .skills-container {
      padding: 0 15px;
  }

  .skills-container h1 {
    font-size: 50px;
  }

  .grid {
      display: block;
  }

  .carousel-primary {
      top: 0;
      left: 0;
      width: 100%;
      position: relative;
  }

  .carousel-primary img {
      width: 75px; /* Adjust size for mobile */
      height: 75px; /* Adjust size for mobile */
  }
  
  .scroll-container {
      height: auto;
      overflow: auto;
  }
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 100%; /* Make the fake menu take up the full width of the parent */
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 100%; /* Make the fake screen take up the full width of the parent */
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fakeScreen p {
  position: relative;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: normal;
  overflow: hidden;
  width: 100%; /* Make the text take up the full width of the parent */
}

span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  color: #9CD9F0;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
}

.line2 {
  color: #CDEE69;
  -webkit-animation: type .5s 4.25s steps(20, end) forwards;
  -moz-animation: type .5s 4.25s steps(20, end) forwards;
  -o-animation: type .5s 4.25s steps(20, end) forwards;
  animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
  -webkit-animation: blink 1s 5.25s 2 forwards;
  -moz-animation: blink 1s 5.25s 2 forwards;
  -o-animation: blink 1s 5.25s 2 forwards;
  animation: blink 1s 5.25s 2 forwards;
}

.line3 {
  color: #E09690;
  -webkit-animation: type .5s 7.5s steps(20, end) forwards;
  -moz-animation: type .5s 7.5s steps(20, end) forwards;
  -o-animation: type .5s 7.5s steps(20, end) forwards;
  animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
  -webkit-animation: blink 1s 8.5s 2 forwards;
  -moz-animation: blink 1s 8.5s 2 forwards;
  -o-animation: blink 1s 8.5s 2 forwards;
  animation: blink 1s 8.5s 2 forwards;
}

.line4 {
  color: #fff;
  -webkit-animation: type .5s 10.75s steps(20, end) forwards;
  -moz-animation: type .5s 10.75s steps(20, end) forwards;
  -o-animation: type .5s 10.75s steps(20, end) forwards;
  animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}

#projects { 
  background-color: #2793e8; 
  height: 700px; /* Increase section height */
}



#contact { 
  background-color: #559c76; 
  height: 700px; /* Increase section height */
}


